@use "@/mixins/display.scss" as d;
@use "@/mixins/element.scss" as e;

.tabs {
  list-style: none;
  margin: 3rem 0;
  transition: transform 0.5s ease-out;
  white-space: nowrap;

  &__wrapper {
    overflow: hidden;
  }

  .tab {
    display: inline-block;
    width: 50%;

    button {
      background: transparent;
      border: 0;
      color: inherit;
      cursor: pointer;
      font-size: 3rem;
      opacity: 0.5;
      text-align: center;
      width: 100%;
      @include e.outline-on-focus;

      @include d.desktop {
        font-size: 6rem;
      }
    }

    &.is-active {
      button {
        opacity: 1;
      }
    }
  }
}
