@use "../../mixins/display.scss" as d;

.hero {
  align-items: center;
  display: flex;
  height: 100dvh;
  justify-content: center;
  position: relative;

  &__name {
    bottom: 0;
    left: 0;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 100%;

    &__span {
      animation: 10s slide linear infinite;
      display: inline-block;
      font-family: var(--font-rhosyn);
      font-size: 6rem;
      padding-left: 2.5rem;
      text-transform: uppercase;

      @include d.desktop {
        font-size: 12rem;
        padding-left: 5rem;
      }
    }
  }

  &__image {
    aspect-ratio: 3 / 4;
    width: 300px;
  }
}

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
