@use "../../mixins/display.scss" as d;

.hero {
  align-items: center;
  display: flex;
  height: 100dvh;
  justify-content: center;
  position: relative;

  &__name {
    bottom: 0;
    font-family: var(--font-durer);
    font-size: calc(100vw / 12);
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
  }

  &__image {
    aspect-ratio: 3 / 4;
    background: lightgray;
    width: 200px;
    animation: anim 0.5s ease-in forwards;

    @include d.desktop {
      width: 300px;
    }
  }
}

@keyframes anim {
  from {
    opacity: 0;
    transform: scale(0.9);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}
