@use "../../mixins/display.scss" as d;

.skills {
  gap: 2rem;
  margin-bottom: 5rem;

  .skill {
    padding-bottom: 1rem;
    padding-right: 1rem;
    transition: opacity 1s ease-out var(--var-delay);
    will-change: opacity;

    &__container {
      position: relative;
    }

    &__number {
      font-size: 2rem;
      font-weight: 500;
    }

    &__title {
      font-size: 1.2rem;
      font-weight: 500;
      margin: 1rem 0;
      text-transform: lowercase;
    }

    &__description {
      font-size: 1rem;
      line-height: 1.5rem;
      text-transform: lowercase;
    }

    @include d.desktop {
      &__container {
        &:nth-of-type(9) {
          grid-column-start: 4;
        }
      }
    }
  }

  @include d.desktop {
    gap: 3rem;
  }
}
