.skills {
  gap: 3rem;
}

.skill {
  border-right: 1px solid var(--dark-foreground-color);
  opacity: 0;
  padding-right: 1rem;
  transition: opacity 0.5s ease-out var(--var-delay);
  will-change: opacity;
}

.skill.animate {
  opacity: 1;
}

.skill__number {
  font-size: 2rem;
  font-weight: 500;
}

.skill__title {
  font-size: 1.2rem;
  font-weight: 500;
  margin: 1rem 0;
  text-transform: lowercase;
}

.skill__description {
  color: var(--dark-foreground-color);
  font-size: 1rem;
  line-height: 1.5rem;
  text-transform: lowercase;
}