@use "../../mixins/display.scss" as d;

.skills {
  gap: 2rem;
  margin-bottom: 5rem;

  .skill {
    opacity: 0;
    padding-bottom: 1rem;
    padding-right: 1rem;
    transition: opacity 1s ease-out var(--var-delay);
    will-change: opacity;

    &__container {
      position: relative;
    }

    &.animate {
      opacity: 1;
    }

    &__number {
      font-size: 2rem;
      font-weight: 500;
    }

    &__title {
      font-size: 1.2rem;
      font-weight: 500;
      margin: 1rem 0;
      text-transform: lowercase;
    }

    &__description {
      font-size: 1rem;
      line-height: 1.5rem;
      text-transform: lowercase;
    }

    @include d.desktop {
      &__container {
        &:nth-of-type(9) {
          grid-column-start: 4;
        }
      }
    }
  }

  @include d.desktop {
    gap: 3rem;
  }
}

.shape__container {
  position: relative;

  .shape {
    background: var(--background-color);
    border-radius: 0 0 50% 50%;
    box-shadow: 0px 60px 50px rgba(0, 0, 0, 0.75);
    height: 1500%;
    position: absolute;
    width: 100%;
    z-index: 1;
  }
}
