@use "../../mixins/display.scss" as d;

.skills {
  gap: 2rem;
  margin-bottom: 5rem;

  .skill {
    opacity: 0;
    padding-bottom: 1rem;
    padding-right: 1rem;
    transition: opacity 1s ease-out var(--var-delay);
    will-change: opacity;

    &__container {
      position: relative;

      &:nth-of-type(4n) .skill {
        border-bottom: 0;
      }
    }

    &.animate {
      opacity: 1;
    }

    &__number {
      font-size: 2rem;
      font-weight: 500;
    }

    &__title {
      font-size: 1.2rem;
      font-weight: 500;
      margin: 1rem 0;
      text-transform: lowercase;
    }

    &__description {
      font-size: 1rem;
      line-height: 1.5rem;
      text-transform: lowercase;
    }

    @include d.desktop {
      border-bottom: 0;

      &__container {
        &:nth-of-type(4n) .skill {
          border-right: 0;
        }
      }
    }
  }

  @include d.desktop {
    gap: 3rem;
  }
}
