@use "@/mixins/display.scss" as d;

.about__paragraph {
  font-size: 1.1rem;
  line-height: 2rem;

  @include d.desktop {
    font-size: 1.2rem;
  }
}

.interests {
  &__title {
    font-size: 1.75rem;
    font-weight: 500;
    margin-top: 5rem;
  }
}

.interest {
  align-items: center;
  display: grid;
  gap: 2rem;
  grid-template-columns: 1fr;

  &__copy {
    font-size: 1.1rem;
    line-height: 1.5rem;

    @include d.desktop {
      font-size: 1.2rem;
      line-height: 1.75rem;
    }
  }

  &__media {
    aspect-ratio: 3 / 4;
    width: 100%;

    img,
    video {
      border-radius: 8px;
    }

    @include d.desktop {
      width: 75%;
    }
  }

  @include d.desktop {
    gap: 0;
    grid-template-columns: 1fr 1fr;
  }
}

.image {
  display: block;
  height: 100%;
  object-fit: cover;
  width: 100%;
}
