.job {
  margin-bottom: 10rem;

  &:last-child {
    margin-bottom: 15rem;
  }

  &__details {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    &__company__logo {
      display: block;
      margin-bottom: 1rem;
      width: 150px;
    }

    &__company__name {
      font-size: 2.5rem;
      font-weight: 500;
    }

    &__role,
    &__period {
      color: var(--dark-foreground-color);
      font-size: 1.5rem;
    }
  }

  &__description {
    color: var(--dark-foreground-color);
    font-size: 1.25rem;
    line-height: 2rem;
  }
}
