@use "../../mixins/display.scss" as d;

.job {
  margin-bottom: 5rem;
  row-gap: 2rem;

  &:last-child {
    margin-bottom: 5rem;

    @include d.desktop {
      margin-bottom: 15rem;
    }
  }

  &__section__container {
    --section-background-color: var(--darker-background-color);
    --section-foreground-color: var(--darker-foreground-color);
  }

  &__details {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    &__company__name {
      font-size: 2rem;
      font-weight: 500;

      @include d.desktop {
        font-size: 2.5rem;
      }
    }

    &__role,
    &__period {
      font-size: 1.25rem;

      @include d.desktop {
        font-size: 1.5rem;
      }
    }
  }

  &__description {
    font-size: 1.1rem;
    line-height: 1.75rem;

    @include d.desktop {
      font-size: 1.2rem;
      line-height: 2rem;
    }
  }

  @include d.desktop {
    margin-bottom: 10rem;
  }
}
