@use "../../mixins/display.scss" as d;

.header {
  display: flex;
  justify-content: flex-end;
  left: 50%;
  position: fixed;
  top: 1.5rem;
  transform: translateX(-50%);
  width: 100%;
  z-index: 3;

  &__menu__toggler {
    background: transparent;
    border: 0;
    color: inherit;
    cursor: pointer;
    font-family: inherit;
    font-size: 1.2rem;
    font-weight: 500;

    &.is-open {
      color: var(--hf-foreground-color);
      transition: color 0.25s ease-out;
    }
  }

  &__menu {
    background: var(--hf-background-color);
    color: var(--hf-foreground-color);
    height: 100dvh;
    position: fixed;
    top: 0;
    transform: translateX(-100%);
    width: 100dvw;
    will-change: transform, opacity;
    z-index: 2;

    &.is-open {
      transform: translateX(0);
      transition: transform 0.25s ease-out;
    }

    &__items {
      display: flex;
      flex-direction: column;
      height: 100%;
      justify-content: center;
      list-style: none;
      margin: 0;
      padding: 0 1rem;

      @include d.desktop {
        padding: 0 3rem;
      }
    }

    &__item {
      all: unset;
      cursor: pointer;
      display: inline-block;
      font-weight: 500;
      font-size: 4rem;

      @include d.desktop {
        font-size: 8rem;
      }
    }
  }
}
