@use "../../mixins/display.scss" as d;

.section {
  position: relative;

  &:last-child {
    margin-bottom: 0;
  }

  &__header {
    margin-bottom: 5rem;

    &__number {
      font-size: 2rem;
      font-weight: 500;
    }

    &__title,
    &__subtitle {
      font-size: 1.5rem;
      font-weight: 500;
      line-height: 2rem;
      max-width: 200px;
      text-transform: uppercase;
    }

    @include d.desktop {
      margin-bottom: 10rem;
    }
  }
}
