@use "@/mixins/display.scss" as d;

.section {
  background: var(--section-background-color, --background-color);
  color: var(--section-foreground-color, --foreground-color);
  padding: 3rem 0;
  position: relative;
  transition: all 0.25s ease-out;

  &:last-child {
    margin-bottom: 0;
  }

  &__header {
    margin-bottom: 5rem;

    &__title,
    &__subtitle {
      display: inline-block;
      font-size: 2rem;
      font-weight: 500;
      line-height: 2rem;
      max-width: 250px;
      margin-bottom: 1rem;

      @include d.desktop {
        font-size: 3rem;
        line-height: 3rem;
        margin-bottom: 0;
        max-width: 300px;
      }
    }

    @include d.desktop {
      margin-bottom: 10rem;
    }
  }

  @include d.desktop {
    padding: 4rem 0;
  }
}
