@use "@/mixins/display.scss" as d;
@use "@/mixins/element.scss" as e;

.contacts {
  display: flex;
  flex-direction: column;
  gap: 5rem;

  &__section__container {
    --section-background-color: var(--hf-background-color);
    --section-foreground-color: var(--hf-foreground-color);
  }

  &__email {
    display: block;
    font-size: 1.75rem;
    font-weight: 500;
    max-width: 22ch;
    overflow-wrap: break-word;
    word-break: break-word;
    word-wrap: break-word;
    @include e.outline-on-focus;

    span[class*="_container"] span::before {
      background: var(--section-background-color);
      bottom: -0.02em;
      content: "";
      display: block;
      height: 0.1em;
      position: absolute;
      transform: translateX(-100%);
      width: 100%;
      will-change: transform;
    }

    span[class*="_container"] span::after {
      background: var(--section-foreground-color);
      content: "";
      display: block;
      height: 0.075em;
      width: 100%;
    }

    &:hover span[class*="_container"] span::before {
      transform: translateX(100%);
      transition: transform 1s ease-out;
    }

    @include d.desktop {
      font-size: 6rem;
    }
  }

  &__social {
    display: flex;
    gap: 1rem;
    justify-content: center;
    list-style: none;
    margin: 0;

    &__link {
      display: inline-block;
      font-size: 1rem;
      font-weight: 500;
      @include e.outline-on-focus;

      @include d.desktop {
        font-size: 1.2rem;
      }
    }

    @include d.desktop {
      gap: 2rem;
    }
  }

  @include d.desktop {
    gap: 10rem;
  }
}
