@use "../../mixins/display.scss" as d;

.contacts {
  display: flex;
  flex-direction: column;
  gap: 5rem;

  &__email {
    display: block;
    font-size: 1.75rem;
    font-weight: 500;
    text-transform: uppercase;
    max-width: 22ch;
    overflow-wrap: break-word;
    word-break: break-word;
    word-wrap: break-word;

    span[class*="_container"] span::before {
      background: var(--background-color);
      bottom: -0.02em;
      content: "";
      display: block;
      height: 0.1em;
      position: absolute;
      transform: translateX(-100%);
      width: 100%;
      will-change: transform;
    }

    span[class*="_container"] span::after {
      background: var(--foreground-color);
      content: "";
      display: block;
      height: 0.075em;
      width: 100%;
    }

    &:hover span[class*="_container"] span::before {
      transform: translateX(100%);
      transition: transform 1s ease-out;
    }

    @include d.desktop {
      font-size: 6rem;
    }
  }

  &__social {
    display: flex;
    gap: 2rem;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 3rem 0;

    &__link {
      font-size: 1rem;
      font-weight: 500;

      @include d.desktop {
        font-size: 1.2rem;
      }
    }
  }
}
